<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jys.jyplus.wiki.dao.WikiDao" >
    <resultMap id="BaseResultMap" type="com.jys.jyplus.wiki.vo.WikiVo">
        <result column="id" property="wikiId" jdbcType="INTEGER"/>
        <result column="title" property="wikiTitle" jdbcType="VARCHAR"/>
        <result column="create_time" property="wikiCreateTime" jdbcType="VARCHAR"/>
        <result column="update_time" property="wikiUpdateTime" jdbcType="VARCHAR"/>
        <result column="content" property="wikiContent" jdbcType="VARCHAR"/>
    </resultMap>

    <!--表名-->
    <sql id="BASE_TABLE">
        t_wiki_post
    </sql>
    <!--字段名-->
    <sql id="BASE_COLUMN">
        id,
        title,
        create_time,
        update_time,
        content
    </sql>
    <!--增删改查-->

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        <include refid="BASE_TABLE"/>
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        <include refid="BASE_TABLE"/>
        WHERE
        id = #{wikiId, jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="com.jys.jyplus.wiki.vo.WikiVo">
        INSERT INTO
            <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="BASE_COLUMN"/>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{wikiId, jdbcType=INTEGER},
            #{wikiTitle, jdbcType=VARCHAR},
            #{wikiCreateTime, jdbcType=VARCHAR},
            #{wikiUpdateTime, jdbcType=VARCHAR},
            #{wikiContent, jdbcType=VARCHAR},
        </trim>
    </insert>

    <delete id="delete" parameterType="java.lang.Integer" >
        delete from
        <include refid="BASE_TABLE"/>
        where
        id = #{wikiId, jdbcType=INTEGER}
    </delete>

    <update id="update" parameterType="com.jys.jyplus.wiki.vo.WikiVo" >
        update
        <include refid="BASE_TABLE"/>
        <set >
            title=#{wikiTitle, jdbcType=VARCHAR},
            create_time=#{wikiCreateTime, jdbcType=VARCHAR},
            update_time=#{wikiUpdateTime, jdbcType=VARCHAR},
            content=#{wikiContent, jdbcType=VARCHAR}
        </set>
        where id=#{wikiId, jdbcType=INTEGER}
    </update>

</mapper>